*.py[cod]
*~
examples
sandbox
POTCAR
WAVECAR
CHGCAR
tests/Cu
tests/Pd
/jasp.egg-info/PKG-INFO
/jasp.egg-info/SOURCES.txt
/jasp.egg-info/dependency_links.txt
/jasp.egg-info/requires.txt
/jasp.egg-info/top_level.txt
